body {
    font-family: monospace;
    font-size: 10pt;
    text-align: center;
    background-color: #1b1b1b;
    margin: auto;
    max-width: 600px;
    color: white;
}

h1 {
    color: sandybrown;
}

p {
    color: white;
}

.main p {
    text-align: left;
}

.posts {
    padding-top: 64px;
}

.top {
    background-color: slategray;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid black;
}

ul {
    list-style-type: none;
    padding: 0px;
    padding-bottom: 100px;
}

li {
    padding-block: 1px;
}

a {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
}

a:active,
a:hover {
    color: orangered;
}

time {
    font-family: monospace;
    color: #888;
}