body {
    text-align: center;
    background-color: deepskyblue;
    display: grid;
    grid-template-areas:
        'a a a'
        'b c z'
        'b d z';
    grid-template: auto;
    gap: 6px;
    margin: auto;
    max-width: 800px;
}

.title {
    grid-area: a;
}

.footer {
    background-color: white;
    border: 1px solid black;
    grid-area: d;
    padding-block: 8px;
    height: 20px;
}

.main {
    background-color: white;
    border: 1px solid black;
    grid-area: c;
    align-self: center;
    min-height: 400px;
    min-width: 450px;
}

.menu {
    background-color: white;
    border: 1px solid black;
    grid-area: b;
    min-width: 150px;
    min-height: 400px;
    margin-left: auto;
}

form {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.posts {
    list-style: none;
    padding: 2px;
    margin: 8px;
}